// Colors

$colorNavbar: #6fd274;
$colorLink: #4a8a4e;
$colorReviewStars: #ff9500;

$shade100: #fff;
$shade70: #ddd;
$shade50: #aaa;
$shade40: #666;
$shade30: #333;

// margins

$marginSmall: 8px;
$marginXXX: 3em;
$borderRadius: 3px;