.Help {
  align-self: center;
  padding: $marginSmall;
  max-width: 600px;
  text-align: center;
  line-height: 1.3;

  // no flex
  margin: 0 auto;
}

.Help-logo { max-width: 180px; }
.Help-drawing { max-width: 400px; }
.Help-server-photo { max-width: 400px; }