.Navbar {
  color: $shade100;
  background-color: $colorNavbar;
  padding: $marginSmall;

  display: flex;
  align-items: center;
  min-height: 53px;
}

.Navbar-child {
  width: 33.333%;

  // no flex
  display: inline-block;
  vertical-align: top;
}

.Navbar-logoLink {
  display: flex;
  justify-content: center;
  align-items: center;

  // no flex
  text-align: center;
}

.Navbar-logo { width: 20px; }

.Navbar-button {
  color: $shade100;
  text-decoration: none;
  padding: $marginSmall 0;
}

.BackButtonImage {
  width: 10px;
  height: 1em;
}