.Help-outer {
  display: flex;
  flex-direction: column;
}

.Help {
  padding: $marginSmall;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
}

.Help-logo { max-width: 180px; }

.Help-drawing { max-width: 400px; }