.Navbar {
  color: $shade100;
  background-color: $colorNavbar;
  padding: $marginSmall;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-logo { width: 20px; }

.Navbar-button {
}